@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.bar {
  background: linear-gradient(to right, #000000 0%, #3275cd 100%);
  padding: 2px;
  /*border: solid 1px white;*/
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.bar::before {
  content: attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before {
  background-color: #ffcc33;
}
.bar.back::before {
  background-color: #a6cfe3;
}

.bar.learning::before {
  width: calc(25% - 10px);
  background-color: var(--gray-dark);
}
.bar.basic::before {
  width: calc(40% - 10px);
  background-color: var(--cyan);
}
.bar.intermediate::before {
  width: calc(60% - 10px);
  background-color: var(--green);
}
.bar.advanced::before {
  width: calc(80% - 10px);
  background-color: var(--teal);
}
.bar.expert::before {
  width: calc(100% - 10px);
  background-color: var(--slide);
}
