.block-formation {
  background-color: var(--primary);
  border-radius: 15px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  margin: 1rem;
  display: inline-block;

  min-height: 30vh;
  min-width: 30vw;
}

.centrer {
  align-items: center;
  text-align: center;
}
