@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500&display=swap");
/*
#root {
  height: 100vh;
  min-width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
}*/

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --background: #021027;
  --background1: #031e49;
  --background2: #053279;
  --background3: #0442a5;
  --background4: #044dc4;
  --background5: #0258e2;
  --background6: #0163ff;
  --background1-5: #031e49c0;

  /*
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;*/

  --fill: #a972cb;
  --pulse: #ef6eae;
  --close: #ff7f82;
  --raise: #ffa260;
  --up: #e4cb58;
  --slide: #8fc866;
  --offset: #19bc8b;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /*width: 100vw;*/
  background-image: url("../../proc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--blue);
  padding-top: 5px;
  padding-bottom: 5px;

  color: var(--yellow);

  font: italic;
  text-align: center;
}

.fontPicked {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-decoration: none;
}
/* *  Titre de chaque page*/

.titles {
  margin-bottom: 40px;
  text-align: center;
}

.titles .title {
  color: var(--primary);
  text-align: center;
  font-size: 3rem;
}

.titles .subtitle {
  color: var(--info);
  margin-top: 150px;
  text-align: center;
  font-size: 1.5rem;
}

.font-medium {
  font-size: 1.4em;
}
.font-normal {
  font-size: 1.1em;
}

.space {
  margin-top: 20px;
}
.white {
  color: var(--light);
}

.absolute {
  position: relative;
  /*z-index: 1;*/
}

.brygada {
  font-family: "Brygada 1918", serif;
}
.decalage {
  margin-bottom: 30px;
}

.popoverHeader {
  background: var(--background1);
  color: white;
  border-radius: 10px;
}
