.block-skills {
  display: flex;
  /*width: 1000px;
  height: 800px;*/
  /*justify-content: center;*/
  justify-content: space-around;
  /*margin: auto;*/
}

.size-skills {
  margin: auto;
  min-width: 400px;
}

/* *  Check */

.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  margin-top: 15px;
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;

  /* font */
  font-size: 35px;
}

.check-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -10px;
  top: -12px;
  width: 30px;
  height: 20px;
  border-width: 0 4px 4px 0;
  border-style: solid;
  border-color: var(--slide);
  transform-origin: bottom left;
  transform: rotate(45deg);
}

#decal {
  margin-left: 20px;
}

.soft {
  background: linear-gradient(to right, var(--background3) 0%, #000000 100%);

  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
