.block-formation {
  background-color: var(--primary);
  border-radius: 15px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  margin: 1rem;
  display: inline-block;

  min-height: 200px;
  min-width: 600px;
}

.centrer {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin: 0 auto;
}
