@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");

#root {
  height: 100vh;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --background: #d7fae0;
  --header: 80px;
  --footer: 35px;
  /*
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;*/

  --fill: #a972cb;
  --pulse: #ef6eae;
  --close: #ff7f82;
  --raise: #ffa260;
  --up: #e4cb58;
  --slide: #8fc866;
  --offset: #19bc8b;
}

html,
body {
  height: 100%;
}
/*
body {
  background-color: #021027;
}*/
body {
  margin: 0;
}
main {
  padding-top: -80px;
  padding-bottom: -35px;
  height: 100%;
  background-color: var(--background);
}

main section {
  position: absolute;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--blue);
  height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: var(--yellow);
  font-size: 1.5rem;
  font: italic;
  text-align: center;
}

.fontPicked {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-decoration: none;
}
/* *  Titre de chaque page*/

.titles {
  margin-top: 80px;
  text-align: center;
}

.titles .title {
  color: var(--primary);
  text-align: center;
  font-size: 3rem;
}

.titles .subtitle {
  color: var(--info);
  margin-top: 150px;
  text-align: center;
  font-size: 1.5rem;
}

.font-medium {
  font-size: 1.4em;
}
.font-normal {
  font-size: 1.1em;
}

.space {
  margin-top: 20px;
}
.white {
  color: var(--light);
}

.absolute {
  position: relative;
  z-index: 1;
}
