.navbar {
  background-color: var(--blue);
  width: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 10%;
  width: 100%;
}

.text-navbar {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  font-weight: bold;
  color: white;
  margin-top: 50px;

  /* * mr-4*/
  margin-right: 15;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  /* * text-4xl*/
  font-size: 2rem;
  line-height: 4.5rem;

  /* * items-center*/
  align-items: center; /*inflex-flex 0 hover:text-green-800 text-4xl font-bold cursive tracking-widest*/
}

.text-navbar:hover {
  /*inflex-flex items-center py-6 px-3 mr-4 text-red-100 hover:text-green-800 text-4xl font-bold cursive tracking-widest*/
  color: green;
  text-decoration: underline;
}

.icons {
  margin-right: 20px;
  line-height: 4.5rem;
}
