@media (min-width: 77em) {
  .container-formation {
    column-count: 2;
  }
}

@media (max-width: 77em) {
  .block-skills {
    flex-direction: column;
    padding: 25px;
  }
}

@media (max-width: 640px) {
  body {
    background-image: url("../procMobile.jpg");
  }

  .block-title h4 {
    margin-top: 15%;
    color: var(--background);
    -webkit-text-stroke: 0.4px var(--white);
  }
  /* * NavBar */
  .navbar-responsive {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .dropdown-title,
  .dropdown-menu {
    width: 100vh;
  }
  .dropdown-title {
    background-color: var(--background1);
  }
  .dropdown-title:hover,
  .dropdown-title:focus,
  .dropdown-title:active {
    background-color: var(--background2);
  }
  .dropdown-menu {
    background-color: var(--background3);
  }

  .dropdown-menu * {
    text-align: center;
    color: white;
  }
  .navbar {
    display: none;
  }
}
